body {
  margin: 0;
  padding: 0;
}
.wrapper {
  display: table;
  width: 100%;
}
.flag {
  padding: 1%;
}

#map {
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid lightgray;
  resize: both;
  overflow: auto;
  display: table-cell;
  width: 100%;
}

.mapboxgl-canvas {
  width: 100%;
}
#ipgeolocation {
  display: table-cell;
}

.record {
  border: 1px solid lightgray;
  font-size: 1.5vh;
}
.record:hover {
  background-color: black;
  opacity: 0.7;
  color: white;
}
.mapboxgl-popup-content {
  background-color: light-grey;
  border-radius: 10px;
  border-style: inset;
}
