body {
  margin: 0;
  padding: 0;
}
.wrapper {
  /* display: table; */
  display: flex;
  width: 100%;
}
.flag {
  padding: 1%;
}

#map {
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid lightgray;
  resize: both;
  overflow: auto;
  justify-items: left;
  /* display: table-cell; */
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.mapboxgl-canvas {
  width: 100%;
}
#ipgeolocation {
  /* display: table-cell; */
  justify-content: space-around;
  flex-direction: column;
  margin-left: 1%;
}

.record {
  border: 1px solid lightgray;
  font-size: 1.5vh;
}
.record:hover {
  background-color: black;
  opacity: 0.7;
  color: white;
}
.mapboxgl-popup-content {
  background-color: light-grey;
  border-radius: 10px;
  border-style: inset;
}
#maxVisit {
  width: 8vw;
  height: 3vh;
}
#minVisit {
  width: 8vw;
  height: 3vh;
}

.visitMin,
.visitMax {
  width: 7vw;
  height: 3vh;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  flex-direction: column;
  margin: 1%;
}
.buttons {
  margin: 1%;
}
#search {
  padding: 1%;
  margin: 1%;
  height: 2.5vh;
}
#searchIp {
  height: 2.5vh;
  margin: 1%;
  padding: 1%;
}
